#dashboard {
  .summary-table {
    .rs-table-cell-header.highlight {
      .rs-table-cell {
        background-color: #1e345d;
        color: #fff;
      }
      &.clear-padding {
        .rs-table-cell {
          .rs-table-cell-content {
            padding: 0 !important;
          }
        }
      }
    }
    .rs-table-cell-content {
      .column-group-child {
        span {
          // min-width: 30px;
        }
      }
    }
    .column-group {
      display: flex;
      justify-content: center;
      &.col-border {
        border-bottom: 1px #fff solid;
        padding: 3px 10px;
      }
    }
    .column-group-child {
      display: flex;
      &.space-around {
        justify-content: space-around;
      }
      &.col-border {
        :not(:last-child) {
          border-right: 1px solid #fff;
        }
        border-bottom: 1px #fff solid;
      }
      &.padding {
        padding-left: 10px;
        padding-right: 10px;
      }
      span {
        width: 80px;
        text-align: center;
      }
    }
  }

  .__header {
    .rs-dropdown {
      .rs-dropdown-menu {
        width: 160px;
        margin-top: 3px;
      }
      .btn {
        margin-right: 0px;
      }
    }
  }

  .opex-panel-content {
    hr {
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
  }
}

.process-line-chart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  font-size: 1rem;
  color: $color-heading;
  strong {
    color: $primary;
    &.actual {
      color: #d2207f;
    }
    &.target {
      color: $primary;
    }
  }
  .__title {
    flex: 1;
    text-align: center;
  }
  h2 {
    margin: 0;
  }
}

.selected-process-table {
  padding-top: 2rem;
  & > div:first-child {
    padding-bottom: 0.875rem;
    button {
      margin-right: 1.25rem;
      .rs-icon::before {
        color: white;
      }
    }
  }
}
.process-line-gauges {
  .mt {
    margin-top: 1rem;
  }
}

.exportFileContent {
  display: table;
  border-radius: 10px;
  color: #43425d;
  th {
    border-top: 0;
    border-bottom: 0;
    background-color: #f5f6fa;
    color: #43425d;
    font-size: 0.875rem;
    font-weight: 600;
    font-family: $font-family-base;
    min-width: 80px !important;
    text-align: center;
    border: 1px solid #d9d9d9;
  }
  tr:nth-child(2) {
    th:first-child {
      min-width: 160px !important;
    }
    th:nth-child(1),
    th:nth-child(2) {
      text-align: left;
      padding-left: 10px;
    }
  }
  tr:nth-of-type(odd) {
    background-color: #fff;
  }
  tr:nth-of-type(even) {
    background-color: #f5f6fa;
  }
  td {
    border-bottom: 0;
    color: #43425d;
    font-size: 0.875rem;
    font-weight: 300;
    font-family: $font-family-base;
    text-align: center;
    border: 1px solid #d9d9d9;
  }
  td:nth-child(1),
  td:nth-child(2) {
    text-align: left;
    padding-left: 10px;
  }
}
