.sidebar-page {
  .rs-sidebar {
    height: calc(100vh);
    .rs-sidenav-collapse-in {
      overflow-y: auto;
    }
    .rs-sidenav {
      flex: 1 1 auto;
      &.rs-sidenav-collapse-out {
        .sidebar-body {
          height: calc(100vh - 168px);
        }
      }
    }
    .top-menu-logo {
      cursor: pointer;
      height: 56px;
      background: #fff;
      white-space: nowrap;
      overflow: hidden;
      img {
        height: 56px;
      }
    }
  }
}
.custom-navs {
  &.rs-navbar-default {
    background-color: #fff;
  }
  .rs-navbar-body {
    .rs-navbar-nav {
      .rs-breadcrumb {
        margin-bottom: 0;
        padding: 16px 16px;
        height: 56px;
        .rs-breadcrumb-item {
          font-size: 0.875rem;
          font-weight: 600;
          color: $default;
        }
      }
      .nav-select {
        padding: 10px 0px;
        height: 56px;
        .rs-picker-toggle-value {
          font-size: 0.875rem !important;
          color: $default !important;
          font-weight: 600;
        }
        .rs-picker-toggle-caret {
          color: $default !important;
        }
      }
    }
  }
}

.rs-nav-item-content,
.rs-dropdown-toggle,
.rs-dropdown-item-content,
.rs-dropdown-menu-toggle,
.rs-nav-item-content {
  font-size: 0.875rem !important;
  color: $default !important;
  font-weight: 600;
  .rs-icon {
    color: $default !important;
  }
}

.__chart-container {
  width: 250px;
  height: 125px;
  margin: 0 auto;
  .__numbers-custom {
    margin-top: -20px;
    margin-left: 0;
    margin-right: 0;
    .rs-row {
      padding: 0;
    }
    .__numbers-custom-value {
      display: flex;
    }
    p {
      font-size: 0.75rem;
      font-weight: 600;
      color: #43425d;
      min-width: 60px;
      &.text-left {
        padding-left: 24px;
      }
      &.text-right {
        padding-right: 24px;
      }
    }
    h1 {
      font-size: 29px;
      color: $default;
      font-weight: bold;
      margin-bottom: 0;
      flex: 1;
    }
  }
}
