#overview {
  .tab-content {
    padding-top: 1rem;
  }
}
.opex-panel-content-overview {
  .rs-row {
    .rs-col {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  ._grid-content {
    padding: 1rem 1.2rem;
    border: 1px solid #ebebeb;

    &.top {
      border-bottom: 0;
      border-radius: 8px 8px 0px 0px;
    }
    &.bottom {
      border-top: 0;
      border-radius: 0px 0px 8px 8px;
      padding: 0;
    }
  }
  .__header {
    .header-logo {
      display: flex;
      justify-content: space-between;
    }
  }
  .product_square_boxes {
    min-height: 42px;
    padding: 0 1rem;
  }

  .kpi-chart {
    padding: 1rem 0.8rem;
    p {
      color: #43425d;
      font-weight: 600;
      font-size: 0.875rem;
      margin-bottom: 0.1rem;
    }
    &:nth-child(odd) {
      background: #fff;
    }
    &:nth-child(even) {
      background: #f8f8f8;
    }
  }
  &._drawer {
    ._grid-content {
      border: 0;
      padding: 0;
      .gauge_chart {
        min-height: unset;
        display: flex;
        justify-content: space-around;
      }
      .product_square_boxes {
        flex: 1;
      }
      .processline_select {
        display: flex;
        justify-content: center;
        align-items: center;
        .rs-picker-input {
          flex: unset;
          margin-bottom: 0 !important;
          width: 200px;
        }
      }
    }
  }
  &.power {
    ._grid-content {
      padding: 1rem 1.2rem;
      border: 1px solid #ebebeb;

      &.top {
        border-radius: 8px;
      }
    }
  }
}
