#spc {
  .pattern_list {
    box-shadow: none;
    .pattern_list-item {
      border: none;
      box-shadow: none;
      .pattern_col {
      }
    }
  }
}

.pattern_container {
  & > div {
    padding-right: 20px;
  }
}

.clickable {
  &:hover {
    cursor: pointer;
    color: $default;
    font-weight: bold;
  }
}

.pattern_title {
  font-size: 0.8rem;
  color: #1e345d;
  font-weight: bold;
}
.pattern_value {
  font-size: 0.9rem;
}
