$primary-green: #009D57;
$secondary-green: #35795B;
$error-color: #FF3A3A;
$error-color-dark: #D71E1E;
$white: #FFFFFF;
$black-color-web: #444444;
$yellow: #EA9A44;
$body-color: #F9F9F9; 
$disabled-color-bg: #CECECE;
$disabled-color-text: #666666;
$background-green: #eff4f2;