$primary-green: #009D57;
$secondary-green: #35795B;
$primary-red: #FF3A3A;
$secondary-red: #D71E1E;
$white: #FFFFFF;
$primary-black: #444444;
$yellow: #EA9A44;
$body-color: #F9F9F9; 
$disabled-color-bg: #CECECE;
$disabled-color-text: #666666;
$background-green: #eff4f2;