$body-color: #F9F9F9; 
$background-green: #eff4f2;
$table-color-odd: #FFFFFF;
$table-color-even: #F5F5F5;
$print-grey: #C4C4C4;

$primary-green: #009D57;
$secondary-green: #35795B;

$primary-red: #FF3A3A;
$secondary-red: #D71E1E;

$primary-black: #444444;

$primary-yellow: #EA9A44;

$primary-grey: #666666;
$secondary-grey: #CECECE;




