.navbar {
  &.navbar-absolute {
    position: absolute;
    z-index: 1050;
    width: 100%;
  }
  padding: 0;
  background-color: $white;
}

.navbar-brand {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.05px;

  img {
    height: 50px;
  }
}

.navbar-dark {
  .navbar-brand {
    color: $white;
  }
}

.navbar-nav {
  .nav-item {
    .media:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.navbar-nav {
  .nav-item {
    font-size: 0.875rem;
    [data-toggle="dropdown"]::after {
      transition: $transition-base;
    }

    &.show {
      [data-toggle="dropdown"]::after {
        transform: rotate(180deg);
      }
    }
  }
  .nav-link {
    padding-top: $navbar-nav-link-padding-y;
    padding-bottom: $navbar-nav-link-padding-y;
    border-radius: $navbar-nav-link-border-radius;
    color: $navbar-dark-color;
    i {
      margin-right: 8px;
      margin-left: 8px;
      font-size: 18px;
    }
  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active,
  .nav-link:hover,
  .nav-link:active {
    color: $navbar-dark-active-color;
  }

  .nav-link.active {
    font-weight: 600;
  }

  .nav-link-icon {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border-radius: $navbar-nav-link-border-radius;
    i {
      margin-right: 0;
    }
  }

  &.navbar-nav-hover {
    .dropdown-menu {
      opacity: 0;
      display: block;
      pointer-events: none;
      transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
      transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
      animation: none;
    }

    .nav-item.dropdown:hover > .dropdown-menu {
      display: block;
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translate(0, 0);
      animation: none;
    }

    .nav-item.dropdown > .dropdown-menu {
      .dropdown-item.open + .dropdown-menu {
        display: block;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translate(0, 0);
        animation: none;
      }
      .dropdown-item + .dropdown-menu {
        margin-left: 10px;

        &:before {
          left: -16px;
          top: 4px;
        }
      }
    }
  }
}

.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      &[level="0"] {
        padding-left: 7px;
        padding-right: 0px;
      }
    }
  }
}

// Collapse

.navbar-collapse-header {
  display: none;
}
//custom dropdown

.custom-dropdown {
  width: max-content;
  .nav {
    flex-direction: column;
    display: flex;
    .nav-item {
      display: block;
      .nav-link {
        text-align: left;
        display: flex;
        align-items: center;
        line-height: 1;
        &:hover {
          cursor: pointer;
          background-color: $gray-100;
        }
      }
    }
  }
}

// Keyframes

@keyframes show-navbar-collapse {
  0% {
    opacity: 0;
    transform: scale(0.95);
    transform-origin: 100% 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-navbar-collapse {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: 100% 0;
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@keyframes show-navbar-dropdown {
  0% {
    opacity: 0;
    transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
    transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes hide-navbar-dropdown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate(0, 10px);
  }
}

.buId-nav-select {
  width: 96px;
  .nav-select__control,
  .nav-select__control--is-focused,
  .nav-select__control:hover {
    border: none !important;
    box-shadow: none;
  }
  .nav-select__control {
    display: flex;
    align-items: center;
  }
  .nav-select__single-value {
    color: $navbar-dark-active-color;
    font-weight: 600;
  }
  .nav-select__indicator-separator {
    display: none;
  }
  .nav-select__indicators {
    padding: 0;
  }
  .nav-select__value-container {
    padding-right: 0;
    .nav-select__single-value {
      min-width: auto;
      overflow: initial;
    }
  }

  .nav-select__option {
    &.nav-select__option--is-selected {
      background-color: $primary;
    }
  }
  border-right: solid 1px rgba($color: $navbar-dark-color, $alpha: 0.5);
}
