//table will follow as dashboardTable(DataTable.scss)
#EstateBlockTable {
  margin-top: 20px;

  .estateBlockButtonLayout {
    text-align: center;

    .addEstateBlockButton {
      width: 145px;
    }
  }

  #estateBlockModal {
    .rs-modal-dialog > .rs-modal-content {
      .rs-modal-header {
        .rs-modal-header-close {
          display: none;
        }
        
        .title {
          font-size: 18px;
          font-weight: 700;
          color: $primary-green;
        }
      }
  
  
      .body {
          margin-top: 8px;
  
          .lastUpdate, .estateName, .totalEstateBlock {
              color: black;
              margin-bottom: 8px;
          }
      }
    }
  }

}  