.labelFilter {
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
}

.dashboardSelectFilter {
  width: 146px;
  height: 42px;
  .rs-picker-toggle {
    width: 144px;
    height: 40px;
    border-radius: 8px;

    .rs-picker-toggle-value {
      padding-top: 2px;
    }

    .rs-picker-toggle-caret {
      padding-top: 2px;
    }
  }
}

.dashboardInputFilter {
  width: 144px;
  height: 40px;
  border-radius: 8px;
}

//Screen after width 1500px
@media screen and (min-width: 1500px) {
  .dashboardSelectFilter {
    width: 154px;
    height: 42px;
    .rs-picker-toggle {
      width: 152px;
      height: 40px;
      border-radius: 8px;
  
      .rs-picker-toggle-value {
        padding-top: 2px;
      }
  
      .rs-picker-toggle-caret {
        padding-top: 2px;
      }
    }
  }
  
  .dashboardInputFilter {
    width: 152px;
    height: 40px;
    border-radius: 8px;
  }
}