.labelFilter {
  font-size: 14px;
  font-weight: 700;
  margin-left: 3px;
}

.dashboardSelectFilter {
  .rs-picker-toggle {
    width: 138px;
    height: 40px;
    border-radius: 8px;
  }
}

.dashboardInputFilter {
  width: 138px;
  height: 40px;
  border-radius: 8px;
}