#UserListAction {
  margin: 30px 0px;

  .rs-row {
    margin: 0px 0px 25px 0px;
  }

  .labelName {
    color: $primary-black;
    font-weight: 700;
  }

  .rs-input {
    width: 444px;
  }

  .dataPicker {
    width: 444px;
    .rs-picker-toggle {
      width: 435px;
    }
  }

  .saveButton {
    width: 170px;
    height: 42px;
    float: right;
  }

  .cancelButton {
    width: 170px;
    height: 42px;
    float: right;
  }
}