#ProgenyActionPage {
  margin: 50px 0px;

  .rs-row {
    margin: 0px 0px 25px 0px;
  }

  .labelName {
    color: $primary-black;
    font-weight: 700;
  }

  .rs-input {
    width: 444px;
  }

  .rs-picker-default .rs-picker-toggle.rs-btn {
    width: 444px;
    padding-top: 9px;
  }

  .rs-btn-primary {
    width: 170px;
    height: 42px;
  }

  .rs-btn-subtle {
    width: 170px;
    height: 42px;
  }
}