#addEstate {

    .title {

    }

    .description {
        font-size: 16px;
        font-weight: 400;
        color: $primary-black;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .filter {


    }

    .btnApply {
        width: 98px;
        height: 30px;
        font-size: 12px;
        font-weight: 700;
        margin-top: 28px;
    }

    .btnResetFilter {
        width: 98px;
        height: 30px;
        font-size: 12px;
        font-weight: 700;
        margin-top: 28px;
    }

    .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
        display: none;
    }

    .estateRecord {
        font-size: 14px;
        color: $primary-black;
        margin: 5px 0px 16px 0px;
    }

    .btnCancel {
        width: 142px;
        height: 40px;
    }

    .btnAdd {
        width: 142px;
        height: 40px;
        font-size: 14px;
        
    }


}

//Search Filter
