#assignUserModal {
    .rs-modal {
        width: 560px;
        height: 703px;
    }

    .title {

    }

    .description {
        color: black;
    }

    .total_item {
        color: black;
    }
}