#assignUserModal {
  .rs-modal-content {
    width: 540px;
    height: 680px;
}

.rs-modal-body {
    margin-top: 0px;
    max-height: 550px !important;
}

.rs-grid-container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.rs-row{
    margin-top: 0px;
    margin: 0px;
}

a.rs-btn.rs-btn-default.rs-picker-toggle {
    width: 130px;
    height: 30px;
    padding-top: 5px;
}

.rs-picker-toggle-clean{
    display: none;
}

.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
    top: 5px;
}

.btnApply {
    width: 110px;
    height: 30px;
    padding: 5px 12px;
    margin-top: 27px;
}

.btnResetFilter {
    width: 110px;
    height: 30px;
    padding: 5px 12px;
    margin-top: 27px;
}

.title {

}

.description {
    display: flex;
    flex-direction: row;
    color: black;
    margin: 5px 0px;
    width: 100%;
  
  p {
    margin-bottom: 0px;
  }  
}

.rs-col-lg-7 {
  padding: 0px;
}

.total_item {
    color: black;
    margin-top: 10px;
}
}