#tableOption {
    color: black;

    .totalRecord {
        width: 200px;
    }
    
    .paginationOption {
        float: right;
        width: 140px;
        .Option {
            
        }

        .Page{
            width: 140px;
        }
    }

    .btnAdd {
        width: 120px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnDelete {
        width: 105px;
        height: 38px;
        background-color: #CECECE;
        color: #666666;
        float: right;
    }
}

//Table
.tableHeader {
    background-color: $secondary-green;
}


