#tableOption {
    color: black;

    .totalRecord {
        width: 200px;
    }
    
    .paginationOption {
        float: right;
        width: 140px;
        .Option {
            
        }

        .Page{
            width: 140px;
        }
    }

    .btnAddEstate {
        width: 120px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnAddTrial {
        width: 120px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnAddPlot {
        width: 150px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnAddProgeny {
        width: 150px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnAddUser {
        width: 120px;
        height: 38px;
        margin-left: 7px;
        float: right;
    }

    .btnDelete {
        width: 105px;
        height: 38px;
        float: right;
    }
}

//Table
.tableHeader {
    background-color: $secondary-green;
}

.rs-flex-box-grid-space-between {
    padding: 0px 12px;
}

.editStatusActionBtn {
  padding: 0px 25px;

  .tick {
    color: $primary-green;
  }

  .cancel {
    color: $primary-red;
  }
}

.paginationLayout {
  float: right;
  padding: 1rem;
}


@media screen and (min-width: 1600px) {
    #tableOption {
        color: black;
    
        .totalRecord {
            width: 200px;
        }
        
        .paginationOption {
            float: right;
            width: 140px;
            .Option {
                
            }
    
            .Page{
                width: 140px;
            }
        }
    
        .btnAddEstate {
            width: 140px;
            height: 38px;
            margin-left: 7px;
            float: right;
        }
    
        .btnAddTrial {
            width: 150px;
            height: 38px;
            margin-left: 7px;
            float: right;
        }
    
        .btnAddPlot {
            width: 150px;
            height: 38px;
            margin-left: 7px;
            float: right;
        }
    
        .btnAddProgeny {
            width: 170px;
            height: 38px;
            margin-left: 7px;
            float: right;
        }
    
        .btnAddUser {
            width: 120px;
            height: 38px;
            margin-left: 7px;
            float: right;
        }
    
        .btnDelete {
            width: 125px;
            height: 38px;
            float: right;
        }
    }
}


