#estateBlockTable {
    margin-top: 20px;

    .paginationOption {
        float: right;
    }

    .btnAddEstateBlock {
        width: 150px;
        float: right;
    }

    //Modal

}

#estateBlockModal {
    .rs-modal-title {
        color: $primary-green;
        font-weight: 700;
    }
    .rs-modal-body {
        margin-top: 8px;

        .lastUpdate,
        .estateName,
        .totalEstateBlock {
            margin-bottom: 8px;
        }
    }
}