#main-page {
    //background-color: $white;

    #Header {


      .headNav {
          background-color: $white;
          box-shadow: 0px 0px 5px 0px #ccc;  
          z-index: 5;
          position: fixed;
          min-width: 100%; 
      }

      .headNav-left {
        display: flex;
        flex-direction: row;
      }

      .headNav-toggle {
          background-color: $primary-green;  
          color: $white;
          border-radius: 5px;
          padding: 7px;
          margin: 17.5px 10px 17.5px 25px;
          width: 35px;
          height: 35px;
      }

      .headNav-img {
          width: 65.8px;
          height: 52.2px;
          margin: 8.9px 0px 8.9px 10px;
      }

      .headNav-title {
          color: $primary-green;
          font-size: 27px;
          font-weight: 600;
          margin-top: auto;
          margin-bottom: auto;
          margin-left: 10px;
      }

      .headNav-profileLogo {
          margin-right: 10px;
          color: $primary-green;
      }

      .headNav-logout {
          margin-top: 7px;
      }

      .subNav {
        margin-top: 70px;
        background-color: white;
        z-index: 4;
        position: fixed;
        min-width: 100%; 
        float: left;
      }
    }
}


#content-section{
    margin-top: 115px;
    display: flex;
    flex-direction: column;

    .progenySubNavBar {
        background-color: white;
        display: flex;
    }
    
    .content {
        background-color: $body-color;
    }

    .subNav {
        background-color: white;
        border: none;
        min-width: 100px;
        z-index: 3;
        position: fixed;
        min-width: 100%;
    }


}

//SideNavigation Drawer
#drawer {
    display: flex;
    flex-direction: row;

    .drawer-img {
        width: 65px;
        height: 65px;
    }

    .drawer-title {
        margin: 5px 20px 26px 15px;
    }

    .drawer-title-content {
        color: $primary-green;
        font-size: 16px;
        font-weight: 700;
    }
}

//rsuite drawer icon
.drawer-content-icon {
    margin-right: 20px;
}

