@media (max-width: 992px) {
    .btnApply {
        width: 120px;
        height: 40px;
    }
    
    .btnMoreFilter{
        width: 120px;
        height: 40px;
        margin-top: 25px;
    }
    
    .btnResetFilter {
        width: 90px;
        height: 40px;
        margin-top: 25px;
        font-size: 13px;
        padding: 0px;
    }
}

.btnApply {
    width: 140px;
    height: 40px;
}

.btnMoreFilter{
    width: 140px;
    height: 40px;
    margin-top: 25px;
}

.btnResetFilter {
    width: 70px;
    height: 40px;
    margin-top: 25px;
}