.btnApply {
    width: 140px;
    height: 40px;
}

.btnMoreFilter{
    width: 140px;
    height: 40px;
    margin-top: 25px;
}

.btnResetFilter {
    width: 140px;
    height: 40px;
    margin-top: 25px;
}

.show-col {
    width: 100px;
}