//<<<<<<< HEAD
.btnMoreFilter{
    width: 140px;
    border: 1px solid $primary-green;
    background-color: white;
    color: $primary-green;
    font-weight: 700;
}

.show-col {
    width: 100px;
}
//=======
.moreFilter{
    width: 200px;
//>>>>>>> 339b4df31b87c2cf2ff13f37607e2f22f8673fe3
}