//Sidebar Drawer
.rs-drawer-backdrop.in {
    opacity: .3;
}

.rs-drawer-content {
    width: 318px;

    .rs-drawer-header {
        margin: 20px 7px 0;
        height: 60px;
    }

    .rs-drawer-header-close {
        display: none;
    }

    .rs-sidenav {
        .rs-nav-item .rs-nav-item-content, .rs-dropdown .rs-dropdown-toggle  {
            padding-left: 25px;
        }

        .rs-nav-item-content {
            color: #444444;
            background-color: #fff;
        }

        .rs-nav .rs-nav-item-active > .rs-nav-item-content
         {
            color: $primary-green;
            background-color: $background-green;
        }

        .rs-nav-item > a.rs-nav-item-content:hover {
            color: #000;
            background-color: transparent;
        }
    }
}

//Sub-Navigation
.rs-navbar-nav .rs-nav-item > .rs-nav-item-content {
    padding: 3px 16px;
    height: 42px;
}

.rs-nav-subtle.rs-nav-horizontal .rs-nav-item > .rs-nav-item-content::before {
    height: 4px;
    font-weight: 700;
}

//Button
.rs-btn-primary {
    width: 142px;
    height: 40px;
    border-radius: 9px;
    padding: 9px 50px 9px 50px;
    font-size: 16px;
    font-weight: 700;
}

.rs-btn-subtle:hover, .rs-btn-subtle:active, .rs-btn-subtle:focus {
    color: $primary-green;
}

//Input-Box
.rs-input, rs-input:hover {
    width: 175px;
    height: 40px;
    border-radius: 9px;
}

.rs-btn-default {
    width: 175px;
    height: 40px;
    border-radius: 9px;
}

.rs-btn-subtle {
    font-size: 14px;
    font-weight: 700;
    color: $primary-green;
}