.rs-sidenav {
    .rs-nav-item{
        background-color: #fff;
    }
    
    .rs-nav-item-hover{
        background-color: #fff;
    }
    
    .rs-nav-item-active {
        background-color: #eff4f2;
    }
}
